.form-group {
  margin-bottom: 50px;
   /* kasih jarak antar kolom */
   display: flex;
   flex-direction: column;
}
.body .uname,
.body .upass  {
  padding: 10px;
  display: inline-block;
  width: 250px;
  text-align: center;
  
}

body { 
  display: flex;
  margin: 0 auto;
  background-color:#ccc; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* jarak antar kolom */

.title {
  border: 0px solid green;
  width: 350px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-color: darkgoldenrod;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: linear-gradient(to right, red , yellow);
}
.body {
  display: flex;
  margin-bottom: 20px;
  border-top: 5px solid white !important;
  height: 70px;
  border: 0px solid black;
  width: 390px;
  background-color: cadetblue;
  
}
.container {
  display: flex;
  justify-content: center; /* posisi horizontal */
  align-items: center;     /* posisi vertikal */
  height: 100vh;           /* full tinggi layar */
}
.btnlogin {
  background-color: green;
  /* border: 0px; */
  width: 350px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(to right, red , yellow);
  font-size: 30px;
  padding: 5px;
}

.login:hover {
  font-size: 10px;
}
